{"openapi":"3.0.1","info":{"title":"Toolforge API","version":"8.7.2","description":"[Toolforge](https://toolforge.org) is a free\n[platform as a service](https://en.wikipedia.org/wiki/Platform_as_a_service) for Wikimedia contributors. It\nprovides web servers, data access, job management, and other features to help developers maintain tools and bots.\n\nSome useful links:\n  * [Main toolforge page](https://toolforge.org)\n  * [Wiki page, with the detailed deprecation process](https://wikitech.wikimedia.org/wiki/Help:Toolforge/API)\n  * [Cloud-announce mailing list](https://lists.wikimedia.org/postorius/lists/cloud-announce.lists.wikimedia.org/)\n    where major notices are sent\n  * [Toolforge changelog page](https://wikitech.wikimedia.org/wiki/Portal:Toolforge/Changelog), where smaller\n    updates are published"},"servers":[{"url":"https://api.svc.toolforge.org/"}],"paths":{"/builds/v1/healthz":{"get":{"operationId":"builds_Healthcheck","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsHealthResponse"}}},"description":"Returns the health status of the service"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsHealthResponse"}}},"description":"Returned when the service is not ready"}},"security":[],"tags":["Builds"]}},"/builds/v1/metrics":{"get":{"operationId":"builds_Metrics","responses":{"200":{"content":{"text/plain":{"schema":{"type":"string"}}},"description":"Returns the metrics of the service"}},"security":[],"tags":["Builds"]}},"/builds/v1/tool/{toolname}/builds":{"get":{"operationId":"builds_List","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsListResponse"}}},"description":"Returns the list of builds"},"401":{"$ref":"#/components/responses/buildsunauthorized"},"500":{"$ref":"#/components/responses/buildsinternal-error"}},"security":[{"key":[]}],"tags":["Builds"]},"post":{"operationId":"builds_Start","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsBuildParameters"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsStartResponse"}}},"description":"returns the newly created build information"},"400":{"$ref":"#/components/responses/buildsbad-parameters"},"401":{"$ref":"#/components/responses/buildsunauthorized"},"404":{"$ref":"#/components/responses/buildsnot-found"},"500":{"$ref":"#/components/responses/buildsinternal-error"}},"security":[{"key":[]}],"x-codegen-request-body-name":"new_build","tags":["Builds"]}},"/builds/v1/tool/{toolname}/builds/latest":{"get":{"operationId":"builds_Latest","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsLatestResponse"}}},"description":"The latest build"},"400":{"$ref":"#/components/responses/buildsbad-parameters"},"401":{"$ref":"#/components/responses/buildsunauthorized"},"404":{"$ref":"#/components/responses/buildsnot-found"},"500":{"$ref":"#/components/responses/buildsinternal-error"}},"security":[{"key":[]}],"tags":["Builds"]}},"/builds/v1/tool/{toolname}/builds/{id}":{"delete":{"operationId":"builds_Delete","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Id of the build","explode":false,"in":"path","name":"id","required":true,"schema":{"type":"string"},"style":"simple"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsDeleteResponse"}}},"description":"The build was deleted"},"400":{"$ref":"#/components/responses/buildsbad-parameters"},"401":{"$ref":"#/components/responses/buildsunauthorized"},"404":{"$ref":"#/components/responses/buildsnot-found"},"500":{"$ref":"#/components/responses/buildsinternal-error"}},"security":[{"key":[]}],"tags":["Builds"]},"get":{"operationId":"builds_Get","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Id of the build","explode":false,"in":"path","name":"id","required":true,"schema":{"type":"string"},"style":"simple"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsGetResponse"}}},"description":"The build was found"},"400":{"$ref":"#/components/responses/buildsbad-parameters"},"401":{"$ref":"#/components/responses/buildsunauthorized"},"404":{"$ref":"#/components/responses/buildsnot-found"},"500":{"$ref":"#/components/responses/buildsinternal-error"}},"security":[{"key":[]}],"tags":["Builds"]}},"/builds/v1/tool/{toolname}/builds/{id}/cancel":{"put":{"operationId":"builds_Cancel","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Id of the build","explode":false,"in":"path","name":"id","required":true,"schema":{"type":"string"},"style":"simple"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsCancelResponse"}}},"description":"The build was canceled"},"400":{"$ref":"#/components/responses/buildsbad-parameters"},"401":{"$ref":"#/components/responses/buildsunauthorized"},"404":{"$ref":"#/components/responses/buildsnot-found"},"409":{"$ref":"#/components/responses/buildsconflict"},"500":{"$ref":"#/components/responses/buildsinternal-error"}},"security":[{"key":[]}],"tags":["Builds"]}},"/builds/v1/tool/{toolname}/builds/{id}/logs":{"get":{"operationId":"builds_Logs","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Id of the build","in":"path","name":"id","required":true,"schema":{"type":"string"}},{"description":"Follow the logs","in":"query","name":"follow","schema":{"default":false,"type":"boolean"}}],"responses":{"200":{"content":{"text/plain":{"schema":{"$ref":"#/components/schemas/buildsBuildLog"}}},"description":"returns newline separated sequence of \"#/components/schemas/BuildLog\" or\n\"#/component/schemas/InternalError\" if there was an error after the\nstreaming has started (as the http status code can't be changed)\n"},"400":{"$ref":"#/components/responses/buildsbad-parameters"},"401":{"$ref":"#/components/responses/buildsunauthorized"},"404":{"$ref":"#/components/responses/buildsnot-found"},"500":{"$ref":"#/components/responses/buildsinternal-error"}},"security":[{"key":[]}],"tags":["Builds"]}},"/builds/v1/tool/{toolname}/clean":{"post":{"operationId":"builds_Clean","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsCleanResponse"}}},"description":"Returns a summary of what was cleaned up."},"401":{"$ref":"#/components/responses/buildsunauthorized"},"500":{"$ref":"#/components/responses/buildsinternal-error"}},"security":[{"key":[]}],"tags":["Builds"]}},"/builds/v1/tool/{toolname}/quotas":{"get":{"operationId":"builds_Quota","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsQuotaResponse"}}},"description":"Returns the quota information"},"401":{"$ref":"#/components/responses/buildsunauthorized"},"500":{"$ref":"#/components/responses/buildsinternal-error"}},"security":[{"key":[]}],"tags":["Builds"]}},"/envvars/v1/healthz":{"get":{"description":"Check service health status.","operationId":"envvars_Healthcheck","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsHealthResponse"}}},"description":"returns the health status of the service"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsHealthResponse"}}},"description":"happens when the service is not ready"}},"security":[],"tags":["Envvars"]}},"/envvars/v1/metrics":{"get":{"description":"Get service metrics in Prometheus format.","operationId":"envvars_Metrics","responses":{"200":{"content":{"text/plain":{"schema":{"type":"string"}}},"description":"Returns the metrics of the service"}},"security":[],"tags":["Envvars"]}},"/envvars/v1/tool/{toolname}/envvars":{"get":{"description":"List all your envvars.","operationId":"envvars_List","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsListResponse"}}},"description":"all the user envvars"},"500":{"$ref":"#/components/responses/envvarsinternal-error"}},"security":[{"key":[]}],"tags":["Envvars"]},"post":{"description":"Create/update an envvar.","operationId":"envvars_Create","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsEnvvar"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsGetResponse"}}},"description":"the newly created or updated envvar"},"403":{"$ref":"#/components/responses/envvarsforbidden"},"500":{"$ref":"#/components/responses/envvarsinternal-error"}},"security":[{"key":[]}],"x-codegen-request-body-name":"envvar","tags":["Envvars"]}},"/envvars/v1/tool/{toolname}/envvars/{name}":{"delete":{"description":"Delete an envvar.","operationId":"envvars_Delete","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Name of the envvar (same as the environment variable that will\nbe exposed)\n","explode":false,"in":"path","name":"name","required":true,"schema":{"$ref":"#/components/schemas/envvarsEnvvarName"},"style":"simple"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsGetResponse"}}},"description":"the deleted envvar"},"404":{"$ref":"#/components/responses/envvarsnot-found"},"500":{"$ref":"#/components/responses/envvarsinternal-error"}},"security":[{"key":[]}],"tags":["Envvars"]},"get":{"description":"Show a specific envvar.","operationId":"envvars_Show","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Name of the envvar (same as the environment variable that will\nbe exposed)\n","explode":false,"in":"path","name":"name","required":true,"schema":{"$ref":"#/components/schemas/envvarsEnvvarName"},"style":"simple"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsGetResponse"}}},"description":"returns a envvar"},"404":{"$ref":"#/components/responses/envvarsnot-found"},"500":{"$ref":"#/components/responses/envvarsinternal-error"}},"security":[{"key":[]}],"tags":["Envvars"]}},"/envvars/v1/tool/{toolname}/quotas":{"get":{"description":"Get envvars quota information.","operationId":"envvars_Quota","parameters":[{"description":"Name of the tool","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsQuotaResponse"}}},"description":"information about the quota available to the user for creating envvars"},"500":{"$ref":"#/components/responses/envvarsinternal-error"}},"security":[{"key":[]}],"tags":["Envvars"]}},"/jobs/v1/healthz":{"get":{"description":"Endpoint that can be used to know the health status of the API itself.","operationId":"jobs_healthcheck","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsHealthResponse"}}},"description":"The health status of the service is well known."}},"security":[],"tags":["Jobs"]}},"/jobs/v1/metrics":{"get":{"description":"Endpoint that exposes Prometheus metrics for the API.","operationId":"jobs_metrics","responses":{"200":{"content":{"text/plain":{"schema":{"type":"string"}}},"description":"Prometheus metrics are returned."}},"security":[],"tags":["Jobs"]}},"/jobs/v1/tool/{toolname}/images":{"get":{"description":"Returns the list of available container images that you can use to create a new job.","operationId":"jobs_images","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsImageListResponse"}}},"description":"The response contains a list of available container images."},"401":{"$ref":"#/components/responses/jobsunauthorized_error"}},"security":[{"key":[]}],"tags":["Jobs"]}},"/jobs/v1/tool/{toolname}/jobs":{"delete":{"description":"Stop and delete all defined jobs from this Toolforge tool account.","operationId":"jobs_flush","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsFlushResponse"}}},"description":"All jobs were flushed"},"401":{"$ref":"#/components/responses/jobsunauthorized_error"}},"security":[{"key":[]}],"tags":["Jobs"]},"get":{"description":"Returns the list of jobs defined for this Toolforge tool account.","operationId":"jobs_list","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsJobListResponse"}}},"description":"The list of jobs is returned."},"401":{"$ref":"#/components/responses/jobsunauthorized_error"}},"security":[{"key":[]}],"tags":["Jobs"]},"patch":{"description":"Updates an existing job or creates a new job for this Toolforge tool account","operationId":"jobs_update","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsNewJob"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsUpdateResponse"}}},"description":"Operation was successful"},"400":{"$ref":"#/components/responses/jobsbad_parameters_error"},"401":{"$ref":"#/components/responses/jobsunauthorized_error"}},"security":[{"key":[]}],"tags":["Jobs"]},"post":{"description":"Create a new job in this Toolforge tool account.","operationId":"jobs_create","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsNewJob"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsJobResponse"}}},"description":"A new job was created."},"400":{"$ref":"#/components/responses/jobsbad_parameters_error"},"401":{"$ref":"#/components/responses/jobsunauthorized_error"}},"security":[{"key":[]}],"tags":["Jobs"]}},"/jobs/v1/tool/{toolname}/jobs/{id}":{"delete":{"description":"Stop and delete the specified job from this Toolforge tool account.","operationId":"jobs_delete","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Job name.","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsDeleteResponse"}}},"description":"Job was deleted."},"400":{"$ref":"#/components/responses/jobsbad_parameters_error"},"401":{"$ref":"#/components/responses/jobsunauthorized_error"},"404":{"$ref":"#/components/responses/jobsnot_found_error"}},"security":[{"key":[]}],"tags":["Jobs"]},"get":{"description":"Show information about a given job for this Toolforge tool account.","operationId":"jobs_show","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Job name.","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsJobResponse"}}},"description":"Job was found."},"400":{"$ref":"#/components/responses/jobsbad_parameters_error"},"401":{"$ref":"#/components/responses/jobsunauthorized_error"},"404":{"$ref":"#/components/responses/jobsnot_found_error"}},"security":[{"key":[]}],"tags":["Jobs"]}},"/jobs/v1/tool/{toolname}/jobs/{id}/logs":{"get":{"description":"Get logs for a given job in this Toolforge tool account.","operationId":"jobs_get_logs","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Job name.","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"text/plain":{"schema":{"$ref":"#/components/schemas/jobsJobLogs"}}},"description":"Job logs are served."},"400":{"$ref":"#/components/responses/jobsbad_parameters_error"},"401":{"$ref":"#/components/responses/jobsunauthorized_error"},"404":{"$ref":"#/components/responses/jobsnot_found_error"}},"security":[{"key":[]}],"tags":["Jobs"]}},"/jobs/v1/tool/{toolname}/jobs/{id}/restart":{"post":{"description":"Restart a given job. If the job is a cronjob, execute it right now.","operationId":"jobs_restart","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}},{"description":"Job name.","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsRestartResponse"}}},"description":"Job has been restarted."},"400":{"$ref":"#/components/responses/jobsbad_parameters_error"},"401":{"$ref":"#/components/responses/jobsunauthorized_error"},"404":{"$ref":"#/components/responses/jobsnot_found_error"}},"security":[{"key":[]}],"tags":["Jobs"]}},"/jobs/v1/tool/{toolname}/quotas":{"get":{"description":"Returns information on the tool account quotas in Toolforge.","operationId":"jobs_quotas","parameters":[{"description":"Tool name.","in":"path","name":"toolname","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsQuotaResponse"}}},"description":"The response contains the quota details."},"401":{"$ref":"#/components/responses/jobsunauthorized_error"}},"security":[{"key":[]}],"tags":["Jobs"]}}},"components":{"schemas":{"buildsBuild":{"allOf":[{"$ref":"#/components/schemas/buildsBuildCondition"},{"properties":{"build_id":{"type":"string"},"destination_image":{"type":"string"},"end_time":{"type":"string"},"parameters":{"$ref":"#/components/schemas/buildsBuildParameters"},"resolved_ref":{"type":"string"},"start_time":{"type":"string"}},"type":"object"}]},"buildsBuildCondition":{"properties":{"message":{"type":"string"},"status":{"$ref":"#/components/schemas/buildsBuildStatus"}},"type":"object"},"buildsBuildLog":{"properties":{"line":{"type":"string"}},"type":"object"},"buildsBuildParameters":{"properties":{"envvars":{"additionalProperties":{"type":"string"},"description":"Environment variables and values to be set at build time","type":"object"},"image_name":{"description":"The name of the image to be built","type":"string"},"ref":{"description":"Source code reference to build (ex. a git branch name)","type":"string"},"source_url":{"description":"URL to the public git repository that contains the source code\nto build\n","type":"string"},"use_latest_versions":{"default":false,"description":"<- If set, it will use the latest available versions of the builder+runner images, recommended if you want to be able to have some buffer before the old versions are removed","type":"boolean"}},"required":["source_url"],"type":"object"},"buildsBuildStatus":{"enum":["BUILD_PENDING","BUILD_RUNNING","BUILD_SUCCESS","BUILD_FAILURE","BUILD_CANCELLED","BUILD_TIMEOUT","BUILD_UNKNOWN"],"type":"string"},"buildsCancelResponse":{"properties":{"id":{"description":"Id of the cancelled build","type":"string"},"messages":{"$ref":"#/components/schemas/buildsResponseMessages"}},"type":"object"},"buildsCleanResponse":{"properties":{"messages":{"$ref":"#/components/schemas/buildsResponseMessages"}},"type":"object"},"buildsDeleteResponse":{"properties":{"id":{"description":"Id of the deleted build","type":"string"},"messages":{"$ref":"#/components/schemas/buildsResponseMessages"}},"type":"object"},"buildsGetResponse":{"properties":{"build":{"$ref":"#/components/schemas/buildsBuild"},"messages":{"$ref":"#/components/schemas/buildsResponseMessages"}},"type":"object"},"buildsHealthResponse":{"properties":{"messages":{"$ref":"#/components/schemas/buildsResponseMessages"},"status":{"enum":["OK","ERROR"],"type":"string"}},"type":"object"},"buildsLatestResponse":{"properties":{"build":{"$ref":"#/components/schemas/buildsBuild"},"messages":{"$ref":"#/components/schemas/buildsResponseMessages"}},"type":"object"},"buildsListResponse":{"properties":{"builds":{"items":{"$ref":"#/components/schemas/buildsBuild"},"type":"array"},"messages":{"$ref":"#/components/schemas/buildsResponseMessages"}},"type":"object"},"buildsNewBuild":{"properties":{"name":{"type":"string"},"parameters":{"$ref":"#/components/schemas/buildsBuildParameters"},"resolved_ref":{"type":"string"}},"type":"object"},"buildsQuota":{"properties":{"categories":{"items":{"$ref":"#/components/schemas/buildsQuotaCategory"},"type":"array"}},"type":"object"},"buildsQuotaCategory":{"properties":{"items":{"items":{"$ref":"#/components/schemas/buildsQuotaCategoryItem"},"type":"array"},"name":{"type":"string"}},"type":"object"},"buildsQuotaCategoryItem":{"properties":{"available":{"type":"string"},"capacity":{"type":"string"},"limit":{"type":"string"},"name":{"type":"string"},"used":{"type":"string"}},"type":"object"},"buildsQuotaResponse":{"properties":{"messages":{"$ref":"#/components/schemas/buildsResponseMessages"},"quota":{"$ref":"#/components/schemas/buildsQuota"}},"type":"object"},"buildsResponseMessages":{"description":"Lists of messages by priority, note that there will be a warning here when the endpoint is being deprecated\nwith information on how to proceed to update it.\n","properties":{"error":{"items":{"type":"string"},"type":"array"},"info":{"items":{"type":"string"},"type":"array"},"warning":{"items":{"type":"string"},"type":"array"}},"type":"object"},"buildsStartResponse":{"properties":{"messages":{"$ref":"#/components/schemas/buildsResponseMessages"},"new_build":{"$ref":"#/components/schemas/buildsNewBuild"}},"type":"object"},"envvarsEnvvar":{"properties":{"name":{"$ref":"#/components/schemas/envvarsEnvvarName"},"value":{"description":"Value of the envvar to store","type":"string"}},"required":["name","value"],"type":"object"},"envvarsEnvvarName":{"pattern":"^[A-Z][A-Z_0-9]{2,}[A-Z0-9]$","type":"string"},"envvarsEnvvarsQuota":{"properties":{"quota":{"description":"The quota available to the user","type":"integer"},"used":{"description":"The quota used by the user","type":"integer"}},"type":"object"},"envvarsGetResponse":{"properties":{"envvar":{"$ref":"#/components/schemas/envvarsEnvvar"},"messages":{"$ref":"#/components/schemas/envvarsResponseMessages"}},"type":"object"},"envvarsHealthResponse":{"properties":{"messages":{"$ref":"#/components/schemas/envvarsResponseMessages"},"status":{"enum":["OK","ERROR"],"type":"string"}},"type":"object"},"envvarsListResponse":{"properties":{"envvars":{"items":{"$ref":"#/components/schemas/envvarsEnvvar"},"type":"array"},"messages":{"$ref":"#/components/schemas/envvarsResponseMessages"}},"type":"object"},"envvarsQuotaResponse":{"properties":{"messages":{"$ref":"#/components/schemas/envvarsResponseMessages"},"quota":{"$ref":"#/components/schemas/envvarsEnvvarsQuota"}},"type":"object"},"envvarsResponseMessages":{"description":"Lists of messages by priority, note that there will be a warning here when the endpoint is being deprecated\nwith information on how to proceed to update it.\n","properties":{"error":{"items":{"type":"string"},"type":"array"},"info":{"items":{"type":"string"},"type":"array"},"warning":{"items":{"type":"string"},"type":"array"}},"type":"object"},"jobsCommonJob":{"properties":{"cmd":{"description":"Command that this job is executing.","example":"./some-command.sh --with-args","type":"string"},"continuous":{"description":"If a job should be always running.","example":false,"type":"boolean"},"cpu":{"description":"Job CPU resource limit.","example":"1","type":"string"},"emails":{"description":"Job emails setting.","enum":["none","all","onfinish","onfailure"],"example":"all","type":"string"},"filelog":{"description":"Whether this job uses filelog or not.","example":false,"type":"boolean"},"filelog_stderr":{"description":"Path to the stderr file log.","example":"logs/my-job.err","type":"string"},"filelog_stdout":{"description":"Path to the stdout file log.","example":"logs/my-job.out","type":"string"},"health_check":{"description":"Health check configuration for the job. Applicable only when continuous is true.","discriminator":{"mapping":{"http":"#/components/schemas/jobsHttpHealthCheck","script":"#/components/schemas/jobsScriptHealthCheck"},"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/jobsScriptHealthCheck"},{"$ref":"#/components/schemas/jobsHttpHealthCheck"}],"type":"object"},"imagename":{"description":"Container image the job uses.","example":"tool-my-tool/tool-my-tool:latest","type":"string"},"memory":{"description":"Job memory resource limit.","example":"1G","type":"string"},"mount":{"description":"NFS mount configuration for the job.","enum":["all","none"],"example":"none","type":"string"},"name":{"description":"Unique name that identifies the job.","example":"my-job","maxLength":52,"minLength":1,"pattern":"^[a-z0-9]([-a-z0-9]*[a-z0-9])?([.][a-z0-9]([-a-z0-9]*[a-z0-9])?)*$","type":"string"},"port":{"description":"Port to expose for the job. Applicable only when continuous is true.","example":8080,"maximum":65535,"minimum":1,"type":"integer"},"replicas":{"description":"Number of replicas to be used for the job. Configurable only when continuous is true.","example":1,"minimum":1,"type":"integer"},"retry":{"description":"Job retry policy. Zero means don't retry at all (the default)","example":0,"maximum":5,"minimum":0,"type":"integer"},"schedule":{"description":"If the job is a cronjob, execution schedule.","example":"@hourly","type":"string"},"timeout":{"description":"Maximum amount of seconds the job will be allowed to run before it is failed","example":120,"minimum":0,"type":"integer"}},"required":["name","cmd","imagename"],"type":"object"},"jobsDefinedJob":{"allOf":[{"$ref":"#/components/schemas/jobsCommonJob"},{"properties":{"image":{"description":"Container image the job uses.","example":"tool-my-tool/tool-my-tool:latest","type":"string"},"image_state":{"description":"Information about the image state, i.e, if it is stable, deprecated, or something else.","example":"stable","type":"string"},"schedule_actual":{"description":"If the job is a cronjob, actual execution schedule.","example":"15 * * * *","type":"string"},"status_long":{"description":"Job status, extended text.","example":"Running since 30 seconds ago.","type":"string"},"status_short":{"description":"Job status, short text.","example":"Running.","type":"string"}},"required":["image","image_state","status_short","status_long"],"type":"object"}]},"jobsDeleteResponse":{"properties":{"messages":{"$ref":"#/components/schemas/jobsResponseMessages"}},"type":"object"},"jobsFlushResponse":{"properties":{"messages":{"$ref":"#/components/schemas/jobsResponseMessages"}},"type":"object"},"jobsHealth":{"properties":{"message":{"type":"string"},"status":{"enum":["OK","ERROR"],"type":"string"}},"type":"object"},"jobsHealthCheckType":{"enum":["script","http"],"type":"string"},"jobsHealthResponse":{"properties":{"health":{"$ref":"#/components/schemas/jobsHealth"},"messages":{"$ref":"#/components/schemas/jobsResponseMessages"}},"type":"object"},"jobsHttpHealthCheck":{"description":"Health check implemented as an HTTP request inside the container","properties":{"path":{"type":"string"},"type":{"$ref":"#/components/schemas/jobsHealthCheckType"}},"required":["type","path"],"type":"object"},"jobsImage":{"properties":{"image":{"type":"string"},"shortname":{"type":"string"}},"type":"object"},"jobsImageListResponse":{"properties":{"images":{"items":{"$ref":"#/components/schemas/jobsImage"},"type":"array"},"messages":{"$ref":"#/components/schemas/jobsResponseMessages"}},"type":"object"},"jobsJobListResponse":{"properties":{"jobs":{"items":{"$ref":"#/components/schemas/jobsDefinedJob"},"type":"array"},"messages":{"$ref":"#/components/schemas/jobsResponseMessages"}},"type":"object"},"jobsJobLogs":{"type":"string"},"jobsJobResponse":{"properties":{"job":{"$ref":"#/components/schemas/jobsDefinedJob"},"messages":{"$ref":"#/components/schemas/jobsResponseMessages"}},"type":"object"},"jobsNewJob":{"allOf":[{"$ref":"#/components/schemas/jobsCommonJob"}]},"jobsQuota":{"properties":{"categories":{"items":{"properties":{"items":{"items":{"properties":{"limit":{"type":"string"},"name":{"type":"string"},"used":{"type":"string"}},"type":"object"},"type":"array"},"name":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"jobsQuotaResponse":{"properties":{"messages":{"$ref":"#/components/schemas/jobsResponseMessages"},"quota":{"$ref":"#/components/schemas/jobsQuota"}},"type":"object"},"jobsResponseMessages":{"description":"Lists of messages by priority, note that there will be a warning here when the endpoint is being deprecated\nwith information on how to proceed to update it.\n","properties":{"error":{"items":{"type":"string"},"type":"array"},"info":{"items":{"type":"string"},"type":"array"},"warning":{"items":{"type":"string"},"type":"array"}},"type":"object"},"jobsRestartResponse":{"properties":{"messages":{"$ref":"#/components/schemas/jobsResponseMessages"}},"type":"object"},"jobsScriptHealthCheck":{"description":"Health check implemented as a script that runs inside the container","properties":{"script":{"type":"string"},"type":{"$ref":"#/components/schemas/jobsHealthCheckType"}},"required":["type","script"],"type":"object"},"jobsUpdateResponse":{"properties":{"messages":{"$ref":"#/components/schemas/jobsResponseMessages"}},"type":"object"}},"responses":{"buildsbad-parameters":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsResponseMessages"}}},"description":"Bad parameters passed"},"buildsconflict":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsResponseMessages"}}},"description":"operation conflicts with the current state of a build(s)"},"buildsinternal-error":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsResponseMessages"}}},"description":"An internal error happened"},"buildsnot-found":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsResponseMessages"}}},"description":"The latest build was not found"},"buildsunauthorized":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/buildsResponseMessages"}}},"description":"Unauthorized"},"envvarsforbidden":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsResponseMessages"}}},"description":"You are forbidden from performing this action"},"envvarsinternal-error":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsResponseMessages"}}},"description":"An internal error happened"},"envvarsnot-found":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/envvarsResponseMessages"}}},"description":"The latest build was not found"},"jobsbad_parameters_error":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsResponseMessages"}}},"description":"Bad parameters error"},"jobsnot_found_error":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsResponseMessages"}}},"description":"Object not found error."},"jobsunauthorized_error":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobsResponseMessages"}}},"description":"Unauthorized error."}}},"tags":[{"name":"Builds"},{"name":"Envvars"},{"name":"Jobs"}]}